body{
    background-image: url(../img/wp8984777-tic-tac-toe-wallpapers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}
#turno{
	display: flex;
	height: 60px;
	justify-content: center;
	margin: 20px;
	border: 3px solid;
	border-style: ridge;
	background-color: #e2b205;
	border-radius: 6px;
	box-shadow: 7px 7px 3px 3px #484848; 
    color: black;
    font-size: 40px;
}  
#jugadores_juego {
	display: flex;
    margin: auto;
    border: 3px ridge;
    padding: 4px;
    background-color: #e2b205;
    justify-content: center;
    text-align-last: center;
    width: fit-content;
	box-shadow: 7px 7px 3px 3px #484848;
}
#casillas{
    display: grid;
    justify-content: center;
    text-align: center;
    max-width: 180px;
    max-height: 120px;
    padding: 0px;
}
.recuadro{
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 540px;
    height: 300px;
    margin-top: 10px;
} 
.cuadrado{
    display: flex;
    margin: auto;
    border: 3px solid;
    border-style: ridge;
    padding: 8px;
    background-color: #e2b205;
    border-radius: 6px;
}
#titulo{
    color: #ffd607;
    display: flex;
    justify-content: center;
    margin-top: auto;
    -webkit-text-stroke: 2px black;
    font-size: 55px;
}  
.ganador {
    font-size: 50px;
    color: red;
}

.botones {
    padding: 20px;
    padding-bottom: 5px;
}
.div-ganador {
    height: 80px;
}
#nombres{
    display: flex;
}
.col{
    display: flex;
    margin: -15px;
    justify-content: end;
}
#volver{
    display: flex;
    justify-content: flex-end;
}