
body{
	/* background-color: #272727;
	height: 100%;
	width: 100%; */
	background-image: url(../img/wp8984777-tic-tac-toe-wallpapers.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
}
#vista1{
	height: 50px;
	width: 500px;
	border-radius: 8px;
	display: grid;
	justify-content:center;
}
#bienvenido{
	margin-top: 5%;
	border: 8px solid #ffd500;
    border-radius: 20px;
    height: auto;
    background-color: #ffff;
	box-shadow: 7px 7px 3px 3px #484848;
}
#tictactoe{
	margin-top: 10%;
	color: #ffd500;
    display: grid;
    justify-content: center;
}
#boton{
	margin-top: 5%;
}
#start{
	width: 90%;
	height: 40%;
	margin-top: 60%;
	float:right;
}